@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#drop p,
button,
img {
    opacity: 0;
    animation: dropIn 9s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) + 300ms);
    animation-iteration-count: infinite;
}

@keyframes dropIn {
    20% {
        opacity: 0;
    }

    30%,
    100% {
        opacity: 1;
    }

}